*.class
.project
.classpath
.settings
target
# Package Files #
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.orig
*.rej
dependency-reduced-pom.xml
.idea/*
target/
examples/data/**
.cache
*~
mvn_install.log
.vscode/*
.DS_Store
