language: java
before_install:
  - pwd
  - sudo apt-get update -qq
  - sudo apt-get install build-essential
  - mkdir protobuf_install
  - cd protobuf_install
  - wget http://protobuf.googlecode.com/files/protobuf-2.5.0.tar.gz
  - tar xzvf protobuf-2.5.0.tar.gz
  - cd  protobuf-2.5.0
  - ./configure
  - make
  - make check
  - sudo make install
  - sudo ldconfig
  - protoc --version
  - pwd
  - cd ..
  - sudo apt-get install -qq libboost-dev libboost-test-dev libboost-program-options-dev libevent-dev automake libtool flex bison pkg-config g++ libssl-dev
  - wget -nv http://archive.apache.org/dist/thrift/0.7.0/thrift-0.7.0.tar.gz
  - tar zxf thrift-0.7.0.tar.gz
  - cd thrift-0.7.0
  - chmod +x ./configure
  - ./configure --disable-gen-erl --disable-gen-hs --without-ruby --without-haskell --without-erlang
  - sudo make install
  - cd ..
